.image-left-copy-link-right {
	
	.left {

	}
	
	.right {
		
		.inner {
			max-width: 400px;
			margin: auto;
		
			h5 {
				margin-bottom: 1.1em;
			}
	
			img.quote {
				margin-bottom: 1em;
			}
			
			h2 {
				line-height: 1.25;
				margin-bottom: 0.38em;
			}
		
		}
		
	}
	
}