.image-copy-link {
	
	>.grid-container {
	
	&.fluid {
		max-width: 1150px;
	}
	
		> .grid-x {
			
		&.layout-image-right {
			
			@include breakpoint (medium) {
				flex-direction: row-reverse;
			}
			
		}
			
		}
	
	}
	
	.left {

	}
	
	.right {
		
		.inner {
			max-width: 400px;
			margin: auto;
		
			h5 {
				margin-bottom: 1.1em;
			}
	
			img.quote {
				margin-bottom: 1em;
			}
			
			h2 {
				line-height: 1.25;
				margin-bottom: 0.38em;
			}
		
		}
		
	}
	
}