.single-insights_post {
	
	.content {
		border-top: 187px solid transparent;
		padding-top: 8em;
		
		.byline {
			color: $heading-black;
			font-weight: 500;
			padding-bottom: 1.9em;
			
			.button {
				margin-bottom: 2em;
				
				@include breakpoint(medium) {
					margin-bottom: 0;
				}
				
			}
			
		}
		
		h1.single-title {
			margin-bottom: 1.11em;
		}
			
		.sbs-img {
			margin-bottom: 3em;
			
			p {
				margin-right: -1.25rem;
				margin-left: -1.25rem;
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				
				@include breakpoint(medium) {
					margin-right: -2rem;
					margin-left: -2rem;					
				}
				
				img {
					display: block;
					padding-right: 1.25rem;
					padding-left: 1.25rem;
					flex: 0 0 auto;
					width: 50%;
					
					@include breakpoint(medium) {
						padding-right: 2rem;
						padding-left: 2rem;						
					}
					
				}
				
			}
			
		}
		
		section.entry-content {
	    	padding-bottom: 4.95em;
		}
		
		.article-footer {
			
			.small-caps.share-label {
				color: $theme-green;
				padding-bottom: 1.75em;
			}
			
			.a2a_kit.a2a_default_style {
				display: flex;
				justify-content: center;
				a {
					margin-left: .5em;
					margin-right: .5em;
					border-radius: 100%;
					width: 32px;
					height: 32px;
					background-color: $heading-black;
					float: none;
					display: inline-flex;
					align-items: center;
					justify-content: center;
				}
			}
			
			.post-grid {
				padding-top: 4.6em;
			}
			
		}
		
	}
			
}


article.insight-card {
	color: $white;
	margin-bottom: 2.5rem;
	display: flex;
	height: auto;
	
	.inner {
		border-radius: $global-radius;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		
		.top {
			position: relative;
			
			svg {
				position: absolute;
				bottom: -1px;
				left: 0;
				right: 0;
				width: 100%;
			}
			
		}
	
		.bottom {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			padding: 2.4em 2.9em 2.55em;
			height: 100%;
	
			h3,
			a.small-caps {
				color: $white;
			}
			
			h3 {
				font-size: rem-calc(23);
				line-height: 1.3478;
			}
			
			p,
			.small-caps {
				font-size: rem-calc(12);
			}
			
		}
	
	}

&:nth-child(3n+2) {
	@include breakpoint(tablet) {
		position: relative;
		top: 6.45em;
	}
}
	
}
	
