.logo-grid {
	
	.single-logo {
		margin-bottom: 2em;
	}
	
	h2 {
		margin-bottom: .48em;
	}
	
	.copy-wrap {
		padding-bottom: 3.7em;
		
		p {
			max-width: 480px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	
}