body.vendor-audit,
body.page-template-page-contact {
	
	header.header {
		background-color: $theme-purple;
		
		ul.menu#pre-nav li a {
			color: $theme-green;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-purple;
		}
	}
	
	.content.insight-content {
		border-color: $theme-purple;
	}
	
	button,
	.button {
		background-color: $theme-purple;
	}
	
}

body.rfp-alternative {
	
	header.header {
		background-color: $theme-green;
		
		ul.menu#pre-nav li a {
			color: $white;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-green;
		}
	}
	
	.content.insight-content {
		border-color: $theme-green;
	}
		
}

body.vendor-management {
	
	header.header {
		background-color: $theme-orange;
		
		ul.menu#pre-nav li a {
			color: $white;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-orange;
		}
	}
	
	.content.insight-content {
		border-color: $theme-orange;
	}
	
	button,
	.button {
		background-color: $theme-orange;
	}
	
}

body.relocation-kit {
	
	header.header {
		background-color: $theme-blue;
		
		ul.menu#pre-nav li a {
			color: $white;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-blue;
		}
	}
	
	.content.insight-content {
		border-color: $theme-blue;
	}
	
	button,
	.button {
		background-color: $theme-blue;
	}
	
}

article.insight-card {
	
	&.site_theme-vendor-audit  {
		.inner {
			background-color: $theme-purple;
			
			.top {
				svg {
					path {
						fill: $theme-purple;
					}
				}

			}
			
		}
	}

	&.site_theme-rfp-alternative {
		.inner {
			background-color: $theme-green;
			
			.top {
				svg {
					path {
						fill: $theme-green;
					}
				}

			}
			
		}
		
		
	}
	
	&.site_theme-vendor-management {
		.inner {
			background-color: $theme-orange;
			
			.top {
				svg {
					path {
						fill: $theme-orange;
					}
				}

			}
			
		}

		
	}
	
	&.site_theme-relocation-kit {
		.inner {
			background-color: $theme-blue;
			
			.top {
				svg {
					path {
						fill: $theme-blue;
					}
				}

			}
			
		}

	}
	
}

body.rfp-alternative,
body.vendor-management,
body.relocation-kit {
	path#Path_275 {
		fill: $white;
	}
}


button {
	
	&.vendor-audit {
		background-color: $theme-purple;
	}
	
	&.rfp-alternative {
		background-color: $theme-green;
	}
	
	&.vendor-management {
		background-color: $theme-orange;
	}
	
	&.relocation-kit {
		background-color: $theme-blue;
	}
	
}
