body.vendor-audit {
	
}

body.vendor-audit {
	
	header.header {
		background-color: $theme-purple;
		
		ul.menu#pre-nav li a {
			color: $white;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-purple;
		}
	}
	
	.content.insight-content {
		border-color: $theme-green;
	}
	
}

body.rfp-alternative {
	
	header.header {
		background-color: $theme-green;
		
		ul.menu#pre-nav li a {
			color: $white;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-green;
		}
	}
	
	.content.insight-content {
		border-color: $theme-green;
	}
	
}

body.vendor-management {
	
	header.header {
		background-color: $theme-brown;
		
		ul.menu#pre-nav li a {
			color: $white;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-brown;
		}
	}
	
	.content.insight-content {
		border-color: $theme-green;
	}
	
}

body.relocation-kit {
	
	header.header {
		background-color: $theme-blue;
		
		ul.menu#pre-nav li a {
			color: $white;
		}
	
	}
	
	article.page {
		header.article-header {
			background-color: $theme-blue;
		}
	}
	
	.content.insight-content {
		border-color: $theme-green;
	}
	
}

article.insight-card {
	
	&.site_theme-vendor-audit  {
		.inner {
			background-color: $theme-purple;
			
			.top {
				svg {
					path {
						fill: $theme-purple;
					}
				}

			}
			
		}
	}

	&.site_theme-rfp-alternative {
		.inner {
			background-color: $theme-green;
			
			.top {
				svg {
					path {
						fill: $theme-green;
					}
				}

			}
			
		}
		
		
	}
	
	&.site_theme-vendor-management {
		.inner {
			background-color: $theme-brown;
			
			.top {
				svg {
					path {
						fill: $theme-brown;
					}
				}

			}
			
		}

		
	}
	
	&.site_theme-relocation-kit {
		.inner {
			background-color: $theme-blue;
			
			.top {
				svg {
					path {
						fill: $theme-blue;
					}
				}

			}
			
		}

	}
	
}


button {
	
	&.vendor-audit {
		background-color: $theme-purple;
	}
	
	&.rfp-alternative {
		background-color: $theme-green;
	}
	
	&.vendor-management {
		background-color: $theme-brown;
	}
	
	&.relocation-kit {
		background-color: $theme-blue;
	}
	
}
