.recent-insights.module {
	
	.grid-container.fluid {
		max-width: 78.376em;
		
		@include breakpoint (tablet) {
			padding-bottom: 11.3em;
		}
	
		.top-wrap {
			margin-bottom: 3em;
			
			@include breakpoint (tablet) {
				margin-bottom: -2.4em;
			}
			
			h2 {
				margin-bottom: 0.33em;
			}
			
			.text {
				font-size: rem-calc(19);
				font-weight: 500;
				color: #00A9A8;
				padding-bottom: .85em;
			}
			
		}
			
	}
		
}